<div class="container">
  <h2 class='mt-3'>Editar perfil <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label 'Nome' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "Nome" %>
    </div><br />

    <div class="field">
      <%= f.label 'E-mail' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
    </div><br />

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label 'Senha' %> <i>(Deixe em branco se não quiser alterar)</i><br />
      <%= f.password_field :password, autocomplete: "Nova senha" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> mínimo de caracteres</em>
      <% end %>
    </div><br />

    <div class="field">
      <%= f.label 'Confirmar senha' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "Nova senha" %>
    </div><br />

    <div class="field">
      <%= f.label 'Senha atual' %> <i>(Precisamos da sua senha atual para validar as alterações)</i><br />
      <%= f.password_field :current_password, autocomplete: "Senha atual" %>
    </div><br />

    <div class="actions">
      <%= f.submit "Atualizar", class:"btn btn-dark" %>
    </div>
  <% end %>

  <p> <%= button_to "Cancelar minha conta", registration_path(resource_name), class:"btn btn-danger", data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete %></p>

  <%= link_to "Voltar", :back, class:"btn btn-dark mb-3" %>

</div>