<% if user_signed_in? && (current_user.admin? || current_user.superadmin?) %>
  <p>
    <strong style='font-size:1.1em; color:#404040;'><%= comment.user.name if comment.user %></strong> <br>
    <span style='font-size:1em;'>
      <%= comment.body %>
    </span><br>
    <span style='font-size:0.8em; color:#404040;'>
      <%= time_ago_in_words(comment.created_at) %>
    </span><br>
    <% if comment.pendent? %>
      <div class="row mx-3">
        <div class="text-center col-md-6">
          <%= form_tag restaurant_comment_approve_comment_path(comment.restaurant, comment), method: :put do %>
            <%= hidden_field_tag :status, :approved %>
            <%= button_tag(type: "submit", class: "btn btn-default", id:'approve-comment') do %>
              <i class="material-icons" style="color: #008000">done</i>
            <% end %>
          <% end %>
        </div>
        <div class="text-center col-md-6">
          <%= link_to [comment.restaurant, comment], method: :delete, data: { confirm: 'Quer apagar este comentário?' }, id:'del-comment' do %>
            <i class="material-icons" style="color: #f00" >clear</i>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr>
  </p>
<% else %>
  <% if comment.approved? %>
    <p>
      <strong><%= comment.user.name if comment.user %></strong> <br>
      <%= comment.body %> <br>
      <span style='font-size:0.8em; color:#404040;'>
        <%= time_ago_in_words(comment.created_at) %>
      </span><br>
    </p>
  <% end %>
<% end %>