<div class="container">
  <% if @restaurant.unavailable? %>
    <div class="alert alert-danger" role="alert">
      <p>Inativo</p>
    <% end %>
</div>
</div>

<div class="container">
  <h1><%= @restaurant.name %></h1>
</div><br>

<div class="container">
  <div class="row row-cols-3">
    <div class="col-3">
      <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Telefones</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.phone %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.phone2 %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Endereço</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.address %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.neighborhood %>, <%= @restaurant.city %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Cozinha</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.cuisine.name %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Horários</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-8">
          <%= @restaurant.timmings %>
        </div>
      </div><br>
       <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Happy Hour</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-8">
          <%= @restaurant.happy_hour %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Custo médio</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          R$<%= @restaurant.cost %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-3 col-sm-12">
          <strong>Destaques</strong>
        </div>
      </div>
      <% if @restaurant.wifi %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Wi-fi
          </div>
        </div>
      <% end %>
      <% if @restaurant.coffee %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Café
          </div>
        </div>
      <% end %>
      <% if @restaurant.delivery %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Entrega
          </div>
        </div>
      <% end %>
      <% if @restaurant.ac %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Ar-condicionado
          </div>
        </div>
      <% end %>
      <% if @restaurant.cards %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Cartões
          </div>
        </div>
      <% end %>
      <% if @restaurant.tickets %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Tickets
          </div>
        </div>
      <% end %>
      <% if @restaurant.outside %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Lugar ao ar livre
          </div>
        </div>
      <% end %>
      <% if @restaurant.club %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Balada
          </div>
        </div>
      <% end %>
      <% if @restaurant.vegetarian %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Vegetariano
          </div>
        </div><br>
      <% end %>
  </div>
    <div class="col-6">
      <p>
        <%= image_tag("map", alt: "Map", class:'map') %>
      </p>
    </div>
    <div class="col-3">
      ADS
    </div>
  </div>
</div><br><br>

<div class="container">
  <div class="col-sm-5">
    <% if user_signed_in? %>
      <%= link_to 'Editar', edit_restaurant_path(@restaurant), class:"btn btn-warning" %>
    <% end %>
    <%= link_to 'Voltar', root_path, class:"btn btn-secondary" %>
  </div>
</div><br><br>