<% if @restaurant.unavailable? %>
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <p>Inativo</p>
    </div>
  </div>
<% end %>

<div class="container mb-4">
  <h1><%= @restaurant.name %></h1>
</div>

<div class="container mb-4">
  <div class="row row-cols-3">
    <div class="col-3 grid-divider">
      <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Telefones</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.phone %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.phone2 %>
        </div>
      </div>
      <hr width=100%>
      <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Endereço</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.address %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3 col-sm-12">
          <%= @restaurant.neighborhood %>, <%= @restaurant.city %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <iframe src="<%= @restaurant.map %>" width="260" height="260" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
      <hr width=100%>
      <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Cozinha</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          <%= @restaurant.cuisine.name %>
        </div>
      </div>
      <hr width=100%>
      <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Horários</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-8">
          <%= @restaurant.timmings %>
        </div>
      </div>
      <hr width=100%>
       <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Happy Hour</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-8">
          <%= @restaurant.happy_hour %>
        </div>
      </div>
      <hr width=100%>
      <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Custo médio</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12">
          R$<%= @restaurant.cost %>
        </div>
      </div>
      <hr width=100%>
      <div class="row">
        <div class="col-3 col-sm-12">
          <h3 style="font-size:1.1em;">Destaques</h3>
        </div>
      </div>
      <% if @restaurant.wifi %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Wi-fi
          </div>
        </div>
      <% end %>
      <% if @restaurant.coffee %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Café
          </div>
        </div>
      <% end %>
      <% if @restaurant.delivery %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Entrega
          </div>
        </div>
      <% end %>
      <% if @restaurant.ac %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Ar-condicionado
          </div>
        </div>
      <% end %>
      <% if @restaurant.cards %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Cartões
          </div>
        </div>
      <% end %>
      <% if @restaurant.tickets %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Tickets
          </div>
        </div>
      <% end %>
      <% if @restaurant.outside %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Lugar ao ar livre
          </div>
        </div>
      <% end %>
      <% if @restaurant.club %>
        <div class="row">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Balada
          </div>
        </div>
      <% end %>
      <% if @restaurant.vegetarian %>
        <div class="row mb-3">
          <div class="col-3 col-sm-12">
            <i class="material-icons" style="color: #008000">done</i> Vegetariano
          </div>
        </div>
      <% end %>
    </div>
    <!-- FOTOS, CARDÁPIOS & COMENTÁRIOS -->
    <div class="col-6 grid-divider">
      <h2 class="mb-1" style="font-size:1.1em;">FOTOS</h2>

      <% if @restaurant.pictures.attached? %>
        <% @restaurant.pictures.each_with_index do |picture, index| %>
          <%= link_to image_tag(picture, class: "img-responsive thumb-img",
                                data: { toggle: "modal",
                                target: "#myModal" }),
                                "#myGallery",
                                data: { slide_to: index } %>
        <% end %>
      <% end %>


      <h2 class="mt-3 mb-1" style="font-size:1.1em;">CARDÁPIO</h2>

      <% if @restaurant.menus.attached? %>
        <% @restaurant.menus.each_with_index do |menu, index| %>
          <%= link_to image_tag(menu, class: "img-responsive thumb-img",
                                data: { toggle: "modal",
                                target: "#myModal2" }),
                                "#myGallery2",
                                data: { slide_to: index } %>
        <% end %>
      <% end %>

      <h2 class="mt-3 mb-1" style="font-size:1.1em;">COMENTÁRIOS</h2>

    </div>
    <!-- ADS -->
    <div class="col-3">
       <% @ads.each do |ad|  %>
        <% if ad.mini_ad.attached? %>
          <td><%= link_to( image_tag(ad.mini_ad, class:"pict-format"), restaurant_path(ad.restaurant.id)) %></td>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="col-sm-5">
    <% if user_signed_in? %>
      <%= link_to 'Editar', edit_restaurant_path(@restaurant), class:"btn btn-warning" %>
    <% end %>
    <%= link_to 'Voltar', root_path, class:"btn btn-secondary" %>
  </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <!--Pictures carousel code-->
        <div id="myGallery" class="carousel slide" data-interval="false">
          <div class="carousel-inner">

            <% @restaurant.pictures.each_with_index do |picture, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= image_tag(picture, class: "img-responsive") %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= image_tag(picture, class: "img-responsive") %>
                </div>
              <% end %>
            <% end %>

          </div> <!-- end of carousel-inner -->
          <a class="carousel-control-prev" href="#myGallery" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#myGallery" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div> <!-- end of carousel myGallery -->

    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of myModal -->

<!-- Modal 2 -->
<div class="modal fade bd-example-modal" id="myModal2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <!--Pictures carousel code-->
        <div id="myGallery2" class="carousel slide" data-interval="false">
          <div class="carousel-inner">

            <% @restaurant.menus.each_with_index do |menu, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= image_tag(menu, class: "img-responsive") %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= image_tag(menu, class: "img-responsive") %>
                </div>
              <% end %>
            <% end %>

          </div> <!-- end of carousel-inner -->
          <a class="carousel-control-prev" href="#myGallery2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#myGallery2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div> <!-- end of carousel myGallery2 -->

    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of myModal -->

<script>
  $('#myModal').modal('handleUpdate')
</script>