<!DOCTYPE html>
<html>
  <head>
    <title>Orla Guia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('O.ico') %>
  </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to image_tag("orla", alt: "logo"), '/', class: 'navbar-brand d-inline-block align-top' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active my-auto mx-2 item-nav">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="nav-item my-auto mx-2 item-nav">
            <%= link_to 'Quem Somos', sobre_path %>
          </li>
          <li class="nav-item my-auto mx-2 item-nav">
            <%= link_to 'Contato', contato_path %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle item-nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:1.1em;">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style=''>
                <%= link_to 'Editar Perfil', edit_user_registration_path, class:'dropdown-item' %>
                <% if current_user.admin? || current_user.superadmin? %>
                  <div class="dropdown-divider"></div>
                  <% if current_user.superadmin? %>
                    <%= link_to 'Painel de controle', users_path, class:'dropdown-item' %>
                    <div class="dropdown-divider"></div>
                  <% end %>
                  <%= link_to 'Cozinhas', cuisines_path, class:'dropdown-item' %>
                  <%= link_to 'Restaurantes', restaurants_path, class:'dropdown-item' %>
                  <%= link_to 'Anúncios laterais', ads_path, class:'dropdown-item' %>
                  <%= link_to 'Anúncios de homepage', full_ads_path, class:'dropdown-item' %>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item active">
            </li>
          <% else %>
            <li class="nav-item active">
                <%= link_to 'Entrar', new_user_session_path, class: 'nav-link', style:'font-size: 1.1em;' %>
            </li>
          <% end %>
        </ul>
        <% unless current_page?(root_path) %>
          <%= form_tag "/search", method: :get, class:"form-inline my-2 my-lg-0" do %>
            <%= text_field_tag :q, nil, placeholder: 'Buscar', class:"form-control mr-sm-2" %>
            <%= submit_tag 'Buscar', class:"btn btn-outline-dark my-2 my-sm-0" %>
          <% end %>
        <% end %>
      </div>
    </nav>

    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= alert %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% end %>
    <%= yield %>

  </body>

<script>
  $(".alert" ).fadeOut(4000);
</script>

</html>
